button.heading-4:after {
  content: '4';
}

.EasyMDEContainer .editor-toolbar {
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 1px solid #ced4da;
  z-index: 10;
  margin-bottom: 50px;
  border-radius: 0;
}

.EasyMDEContainer .editor-toolbar:has(+ .CodeMirror.CodeMirror-focused) {
  border-bottom-color: var(--card-focus-ring-color);
}

.EasyMDEContainer .CodeMirror {
  border-top: 0;
  margin-top: -50px;
}

.EasyMDEContainer .CodeMirror.CodeMirror.CodeMirror-focused {
  border-color: var(--card-focus-ring-color);
}

.EasyMDEContainer .CodeMirror-focused .CodeMirror-selected {
  background-color: transparent !important;
}

.EasyMDEContainer .CodeMirror-focused .CodeMirror-selectedtext {
  background-color: rgba(85, 107, 252, 0.3) !important;
}

.cm-s-easymde,
.editor-preview {
  line-height: 1.5 !important;
}

.cm-s-easymde .cm-header-1,
.editor-preview h1 {
  font-size: 1.5em;
}

.cm-s-easymde .cm-header-2,
.editor-preview h2 {
  font-size: 1.4em;
}

.cm-s-easymde .cm-header-3,
.editor-preview h3 {
  font-size: 1.3em;
}

.cm-s-easymde .cm-header-4,
.editor-preview h4 {
  font-size: 1.2em;
}

.cm-s-easymde .cm-header-5,
.editor-preview h5 {
  font-size: 1.1em;
}

.cm-s-easymde .cm-header-6,
.editor-preview h6 {
  font-size: 1em;
}
